form{
    border: 2px solid #012c01;
    box-shadow: 20px 2px 5em 5px ;
    position: absolute;
    top: 30%;
    left: 42%;
    padding: 2em; 
    max-width: 100%;
    min-width: 250px;   
}

.calc{
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #000000;
}

button{
    background: inherit;
    font-family: cursive;
    border-radius: 10px;
    border: 2px solid #000000;
    width: 3em;
    height: 3em;
}

input{
    background: inherit;
    font-family: cursive;
}


::placeholder{
    color: inherit;
}

body{
    background: #bdc3c7; 
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7); 
    background: linear-gradient(to right, #2c3e50, #bdc3c7); 
    font-family: cursive;
}

.welcome{
    text-align: center;
}